.container {
    width: 1240px;
    margin: 0 auto;
}
.feed {
    display: flex;
}
.orders {
    height: 716px;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-width: 572px;
    position: relative;
}
.tables {
    display: flex;
    column-gap: 32px;
}
.loader {
    position: absolute;
    left: 40%;
    top: 150px;
}