.header {
    display: flex;
    justify-content: space-evenly;
    min-height: 88px;
    background: #1C1C21;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    display: flex;
}

.item {
    color: #8585AD;
    text-decoration: none;
    align-items: center;
    display: flex;
    border-radius: 40px;
}

.item_active {
    composes: item;
    color: #F2F2F3;
}

.login {
    composes: item;
}